vendor/
node_modules/
.env
.env.production
.env.local
.env.staging
.env.*.local
/public/build
/public/hot
/public/css/filament
/public/js/filament
/public/storage
storage/*.key
.phpunit.result.cache
.phpunit.cache
storage/logs/*
!storage/logs/.gitkeep
/bootstrap/cache/*.php
/bootstrap/cache/filament
